html,
body {
  height: 100%;
  background: #111 url('../images/bg.png') repeat center top;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: none;
}

#wrap {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
